#Contains Bungie API token
header.txt
#Contains Discord bot token
botToken.txt
#Entire Leaderboard token folder
./Leaderboard/Tokens
#Contains Clan ID
clanId.txt
#Databse
guardians.db
#Compiled Python files
*.pyc
